@import '../../../styles/variables.scss';

.line_header {
    display: flex;
    gap: 1rem;
    align-items: center;

    &_line {
        border: 1px solid $green;
        width: 4rem;
    }
    &_text{
        color: $green;
        font-size: 1.1rem;
        font-weight: 600;
    }
}

@media screen and (max-width: 500px) {
    .line_header {
        &_line {
            width: 3rem;
        }
    }
}

@media screen and (max-width: 400px) {
    .line_header {
        &_line {
            width: 2rem;
        }
    }
}