@import "../../styles/variables.scss";


.contact{
    padding: 3rem 0rem;
    border: 5px solid $green;
    border-style: none none none solid;
    // background-color: $dark-grey;
    

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__left{
            flex-grow: 1;

            h1{
                font-size: 2rem;
                font-weight: 900;
                color: $white;
                line-height: 1;
                margin-bottom: 1rem;
            }
            p{
                color: $grey;
            }
        }
        &__right{
            button{
                color: $white;
                background-color: $green;
                padding: 1rem 1.5rem;
                font-weight: 600;
                font-size: 1.1rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .contact{
        &__container{
            flex-direction: column;
            gap: 2rem;

            &__left{
                align-self: flex-start;
                h1{
                    font-size: 1.5em;
                    font-weight: 700;
                    margin-bottom: .5rem;
                }
                p{font-size: .9rem;}
            }
            &__right{
                align-self: flex-end;
                button{
                    font-size: 1rem;
                    padding: .5rem 1rem;
                }
            }
        }
    }
}